.App {
	text-align: center;
	height: 100vh;
}

.login-btn {
	position: absolute;
	bottom: 50%;
	top: 50%;
	left: 0;
	right: 0;
}

.logout-btn {
	position: absolute;
	top: 20px;
	right: 40px;
}
.user-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.user-card-container {
	width: 80%;
	height: 70%;
	background-color: #eee1d3c7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-card {
	display: flex;
	width: 90%;
	height: 80%;
	align-items: center;
	background-color: rgb(240, 233, 233);
}

.left {
	border-radius: 10px 0 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	width: 30%;
	height: 100%;
	background-color: rgb(168, 162, 136);
}

.right {
	border-radius: 0 10px 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	background-color: honeydew;
}

.user-description {
	width: 80%;
	background-color: rgb(224, 224, 224);
}
.user-description p {
	font-style: italic;
	text-align: justify;
	display: flex;
}
legend {
	color: rgb(24, 24, 24);
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	border: none;
}

@media screen and (max-width: 1000px) {
	.user-card-container {
		width: 100%;
		height: 60%;
		background-color: #eee1d3c7;
		display: flex;
		justify-content: center;
		font-size: 15px;
		align-items: center;
	}
	.user-card {
		display: flex;
		width: 80%;
		height: 60%;
		align-items: center;
		background-color: rgb(240, 233, 233);
	}
	.user-card h3 {
		font-size: 18px;
	}
	img {
		width: 100px;
		height: 200px;
	}
	legend {
		font-size: 1em;
	}
	.user-description p {
		display: inline;
		text-align: center;
	}
}
